body {
  font-family: Arial, sans-serif;
}

.slider-container {
  height: 600;
  width : 1100;
  position: relative;

}

.slider {
  display: flex;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: auto;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
}

button.prev {
  float: left;
}

button.next {
  float: right;
}
